.list_student {
  /*background: red;*/
  width:100vw;
  min-height: calc(200vh - 13rem);
  display: flex;
  flex-direction: column;
  transform: rotate(-90deg) translateX(-95vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  -ms-overflow-style: none;
  margin: 0 1rem;
}



::-webkit-scrollbar {
  /*display:none;*/
}

.list_student h1 {
  top: 5rem;
  left: 3rem;
  position: absolute;
}

.list_student_container {
  /*background: #541bc1;*/
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  height: 100vh ;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.names,
.phones,
.email,
.birthday,
.address,
.registration_date,
.expiration_date,
.grade {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttons {
  display: flex;
justify-content: center;
  align-items: center;
  margin-left: .150rem;
}

.button_edit {

  display: flex;
  flex-direction: column;
  border-radius: 5px;
  font-size: 0.8rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button_remove {

  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h3 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.item {
  padding: 1rem 0;
  background: #f1f1f1;
  text-align: center;
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 1);
  min-width: 100%;
}

.item:nth-last-child(1) {
  border: none;
}

.button {
  background: #f1f1f1;
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 1);
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: #c9c3c3;
  cursor: pointer;
}

.icons {
  width: 31px;
}
