.list_student {
  /*background: red;*/
  min-width: calc(100% - 15rem);
  min-height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list_student h1 {
  margin-bottom: 5rem;
}

.list_student_container {
  /*background: #541bc1;*/
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
}

.list_student_icons {
  width: 28px;
  position: absolute;
  left: 10px;
}

.names,
.phones,
.email,
.birthday,
.address,
.registration_date,
.expiration_date,
.grade {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_student_button {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 5px;
  font-size: 0.8rem;
  text-align: center;

}

h3 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.item {
  padding: 1rem;
  background: #f1f1f1;
  box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 1);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

}

.item:nth-last-child(1) {
  border: none;
}

.list_student_link {
  background: #f1f1f1;
  box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 1);
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list_student_link:hover {
  background: #c9c3c3;
  cursor: pointer;
}

.icons {
  width: 30px;
}

@media (min-width: 40rem) {
  .list_student_link {
    padding: 0.5rem;
  }
  .icons {
    width: 31px;
  }
}
