.student {
    width: calc(100vw - 16rem);
    min-height: calc(100vh - 5rem);
    /*background: #ffbb11*/
    margin-left: 15rem;

}
.student_button{
    position: absolute;
    top: 5rem;
    left: 16rem;
    padding: 1rem;
    box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 1);

}
