.report {
  width: 80%;
  padding: 4rem;
  margin: auto;
}
.container{

}

.report_select_div{
  position: relative;
}

.report_matriz {
  padding: 4rem;
  border: solid 2px #333;
}

.report_page {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(12, 1fr);
}

.report_cell {
  grid-column: 1/8;
  width: 100%;
  border: solid 1px #333;
  padding: 0.7rem;

}

.report_cell:nth-child(2) {
  grid-column: 8/13;
  grid-row: 1/1;
  width: 100%;
  border: solid 1px #333;
}

.report_cell:nth-child(3) {
  grid-column: 1/8;
  width: 100%;
  border: solid 1px #333;
}

.report_cell:nth-child(4) {
  grid-column: 8/13;
  grid-row: 2/2;
  width: 100%;
  border: solid 1px #333;
}

.report_cell:nth-child(5) {
  grid-column: 1/8;
  grid-row: 3/3;
  width: 100%;
  border: solid 1px #333;
}

.report_cell:nth-child(6) {
  grid-column: 8/13;
  grid-row: 3/3;
  width: 100%;
  border: solid 1px #333;
}

.report_cell:nth-child(7) {
  grid-column: 1/5;
  grid-row: 4/4;
  width: 100%;
  border: solid 1px #333;
}

.report_cell:nth-child(8) {
  grid-column: 9/13;
  grid-row: 4/4;
  width: 100%;
  border: solid 1px #333;
}

.report_cell:nth-child(9) {
  grid-column: 5/9;
  grid-row: 4/4;
  width: 100%;
  border: solid 1px #333;
}

.report_cell:nth-child(10) {
  grid-column: 1/5;
  grid-row: 5/5;
  width: 100%;
  border: solid 1px #333;
}

.report_cell:nth-child(11) {
  grid-column: 9/13;
  grid-row: 5/5;
  width: 100%;
  border: solid 1px #333;
}

.report_cell:nth-child(12) {
  grid-column: 5/9;
  grid-row: 5/5;
  width: 100%;
  border: solid 1px #333;

}

.report_cell:nth-child(13) {
  grid-column: 1/13;
  grid-row: 6;
  width: 100%;


  /*border: none!important;*/
}

.report_cell:nth-child(14) {
  grid-column: 1/13;
  grid-row: 7;
  width: 100%;
  /*border: none!important;*/
}

.report_select option{
  background: transparent;
  width: 150px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 64px;
}

.report_select{
  padding: 1rem;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.3);
  background: white;
  text-align: center;
  text-align-all: center;
  margin-top: 0.5rem;
  font-size: 0.79rem;
}

.report_select:disabled{
  color: #0d130c;
}

.report_select::-ms-expand {
  display: none; /* remove default arrow on ie10 and ie11 */
}
