.planning {
  width: 100%;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
}

.planning_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.planning_table {
  width: 100%;
  height: 100%;
}

.planning_table tr {
  height: 150px;
}

.planning_table th,
td {
  width: 260px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 150px;
  box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 1);
  background: #f1f1f1;
}

.planning_table_historyGrade {
  grid-column: 1/1;
  grid-row: 1/1;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  border-radius: 5px;
  /*box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 1);*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.planning_table_week {
  grid-column: 4/6;
  grid-row: 1/1;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planning_table_week ul {
  list-style: none;
}

.planning_table_item {
  grid-column: 1/1;
  grid-row: 3/3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  background: #f1f1f1;
  border-radius: 5px;
  font-size: 0.85rem;
  font-family: "Quicksand", sans-serif;
  font-style: italic;
}

.table_list_hours {
  list-style: none;
}

.table_list_hours li {
  margin-bottom: 1rem;
}

.planning_table_item ul {
  list-style: none;
}

.planning_table_img {
  width: 92px;
  cursor: pointer;
}

.table_description_tittle ul {
  list-style: none;
}

.add_student_select {
  padding: 1rem;
  width: 90%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.3);
  background: white;
  text-align: center;
  text-align-all: center;
  cursor: pointer;
}

.table_column_seg,
.table_column_ter,
.table_column_qua,
.table_column_qui,
.table_column_sex {
  width: 300px;
}
.list_students_table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4,1fr);
  padding: 1rem;
  margin: auto;
  width: 100%;
  height: 100%;
}
.students_table_item {
  display: flex;
  flex-direction: column;
}

.icon_table_student {
  width: 32px;
  margin-right: 0.5rem;
}

.table_student_item {
  margin: 0 0.2rem;
  font-size: 0.8rem;
}
