.planning {
  width: 100%;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: .9rem;
}

.planning_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.planning_table {
  width: 100%;
  height: 100%;
  gap: .5rem;
  display: grid;
  /*grid-template-columns: 20% 80%;*/
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows:  120px repeat(5, 1fr);
  margin-top: 2rem;
}

.planning_table_historyGrade{
  grid-column: 1/1;
  grid-row: 1/1;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  border-radius: 5px;
  box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.planning_table_week{
  grid-column: 4/6;
  grid-row: 1/1;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  border-radius: 5px;
  box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.planning_table_week ul{
  list-style: none;
}
.planning_table_item {
  grid-column: 5/5;
  grid-row: 2/2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: #f1f1f1;
  border-radius: 5px;
  box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 1);
  font-size: 0.85rem;
  font-family: "Quicksand", sans-serif;
  font-style: italic;
}
.planning_table_item:nth-child(2) {
  grid-column: 1/1;
  grid-row: 2/2;
}.planning_table_item:nth-child(3) {
  grid-column: 2/2;
   grid-row: 2/2;
}.planning_table_item:nth-child(4) {
  grid-column: 3/3;
    grid-row: 2/2;
}.planning_table_item:nth-child(5) {
  grid-column: 4/4;
     grid-row: 2/2;
}

.planning_table_item ul {
  list-style: none;
}

.planning_table_img {
  width: 92px;
  margin-bottom: 1rem;
  cursor: pointer;

}
.table_description_tittle {
  grid-column: 2/4;
  grid-row: 1/1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: space-evenly;
  background: #f1f1f1;
  border-radius: 5px;
  box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 1);
  padding: 1rem;
}
.table_description_tittle ul{
  list-style: none;
}

.table_description_item{
  grid-column: 1/1;
  grid-row: 3/6;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  border-radius: 5px;
  box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 1);
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}
.table_description_item:nth-last-child(4) {
  grid-column: 2/2;
  grid-row: 3/6;
}
.table_description_item:nth-last-child(3) {
  grid-column: 3/3;
  grid-row: 3/6;
}
.table_description_item:nth-last-child(2) {
  grid-column: 4/4;
  grid-row: 3/6;
}
.table_description_item:nth-last-child(1) {
  grid-column: 5/5;
  grid-row: 3/6;
}
.description_text_area {
  width: 100%;
  height: 85%;
  outline: none;
  border: none;
text-align: justify;

}
.text_area_buttons{
  display: flex;
  right: 10px;
  bottom: 10px;
  outline: none;
  border: none;
}

.text_area_button{
  margin-left: .5rem;
  font-family: "Quicksand", sans-serif;
  border-radius: 5px;
  padding: .7rem 1rem;
  cursor: pointer;
  box-shadow: 2px 2px 8px -2px rgba(0,0,0,0.3);
  background: transparent;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: .9rem;
}
.text_area_button:hover{
  outline: none;
  color: #333333;
  border-radius: 5px;
  box-shadow: 2px 2px 10px -2px rgba(0,0,0,0.6);
  transition: .2s ease;
  cursor: pointer;
}
.add_student_select {

  padding: 1rem;
  width: 90%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.3);
  background: white;
  text-align: center;
  text-align-all: center;
  cursor: pointer;
}