.carrosel {
  min-width: 100%;
  min-height: 100%;
  border-radius: 8px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 1);
  /*background: red;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrosel_container {
  /*background: #95b023;*/
  display: grid;
  grid-template-columns: 80% 20%;
  width: calc(100% - 8rem);
  height: 680px;
  box-shadow: -1px 1px 8px -1px rgba(0, 0, 0, 1);
}

.carrosel_principal_img {
  display: block;
  width: 100%;
  height: 100%;
  /*transition: 0.4s;*/
  opacity: 0;
  /*transition: inherit 700ms;*/
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: animeFade;

}

.carrosel_principal_div {
  width: 100%;
  height: 680px;
  position: relative;
  margin: auto;

}

.carrosel_principal_hover {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: flex-end;
  line-height: 5;
}

.principal_hover_content a {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: #fdfdfd;
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
}

.carrosel_principal_div:hover .carrosel_principal_hover {
  opacity: 1;
}

/*########################################*/
/*FIM  parte do slide maior o principal */

.carrosel_slides {
  width: 100%;
  height: 680px;
  border-radius: 8px;
  transition: 0.4s;
}

.carrosel_slide_img {
  display: block;
  width: 268px;
  height: 100%;
  transition: 0.4s;
  position: absolute;

}

.carrosel_slide {
  display: block;
  width: 268px;
  height: 165px;
  transition: 0.4s;
  margin: 0.2rem;
  position: relative;
}

.carrosel_slide_hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 268px;
}

.carrosel_slide:hover .carrosel_slide_hover {
  opacity: 0;
  visibility: visible;
}

.carrosel_slide_img:hover {
  cursor: pointer;
  transition: 0.4s;
}
.carrosel_radio:checked ~ .carrosel_slide_hover {
  opacity: 0;
  background: #4e8025;
  transition: 0.3s;

}

.carrosel_radio {
  display: none;
}

@keyframes animeFade {

  80%{
    opacity: initial;
  }

}
