.carrosel {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 1);
  margin: auto;
  background: #f1f1f1;
}

.carrosel_container {
  /*background: #95b023;*/
  margin: 2rem;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 75% 25%;
}

.carrosel_principal {
  grid-column: 1/1;
  /*background: #541bc1;*/
  margin: 2rem;
  border-radius: 8px;
  width: 100%;
  height: calc(100% - 4rem);
  overflow: hidden;
}

.carrosel_principal_div {
  display: flex;
  width: 400%;
  height: 100%;
}
.carrosel_principal_hover {
  width: 1031px;
  height: 100%;
  border-radius: 8px;
  /*background: #ffbb11;*/
  margin-right: 4rem;
  opacity: 0;
}

.carrosel_principal_div:hover  .carrosel_principal_hover{
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  width: 1031px;
}

.carrosel_principal_img {
  width: 1031px;
  height: 100%;
  border-radius: 8px;
  background: url("../../Assets/logo1.png")center / cover no-repeat ;
  margin-right: 4rem;
}

.carrosel_principal_img:hover .carrosel_principal_div {
  background: rgba(0, 0, 0, 0.8);
  opacity: 7;
}

.carrosel_slides {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2/2;
  border-radius: 8px;
  margin-top: 2rem;
  height: calc(100% - 4rem);
  width: 100%;
}

.carrosel_slide {
  background: #ff1111;
  height: calc(100% - 4rem);
  border-radius: 8px;
}

.carrosel_div_hover {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  bottom: 173px;
  width: 100%;
  line-height: 45px;
  height: 45px;
  display: block;
  background-color: #000;
  color: #fff;
  text-align: center;
  left: 0;
  top: 0;
  margin: auto;
  transition: all 0.4s ease;
}

.carrosel_slide:hover {
  opacity: 1;
  visibility: visible;
}

.carrosel_slide_img {
  display: block;
  width: 300px;
  height: 173px;
  background: #ffbb11;
  border-radius: 8px;
  opacity: 1;
}
