.select {
    width: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.3);
    background: white;
    text-align: center;
    text-align-all: center;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    position: absolute;
    vertical-align: center;
    color: black;
    transition: .4s ease;

}

.select_container {
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding: 1rem;
    transition: .3s ease;

}

.label_container {
    width: 100%;
    height: 100%;
    transition: .3s ease;

}

.select_container h4 {
    margin: 1rem 0;
}

.add_checkbox_icon {
    width: 36px;
    opacity: 0.5;
    transition: .3s ease;
    margin: auto;
}

#item_checkbox:checked ~ .select_item_icon img {
    opacity: 1;
    transition: .3s ease;

}

#item_checkbox:checked ~ .select_item_icon {
    background: #c8c8c8;
    transition: .3s ease;

}

#button_expand:checked ~ .select:hover {
    background: #f1f1f1;
    transition: .4s ease;

}

#button_expand:checked ~ .select_expand {
    display: inline-block;
    background: #f1f1f1;
    transition: .4s ease;

}

.select input {
    display: none;
}

.select_expand {
    display: none;
    width: 100%;
    height: 300px;
    overflow: scroll;
    margin: 1rem auto auto auto;
    transition: .4s ease;

}

.select_label {
    display: flex;
    box-shadow: 0 -1px 7px -2px rgba(0, 0, 0, 0.3);
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 0.3rem;
    transition: .4s ease;

}

.select_divisor {
    background: #c6c6c6c6;
    padding: 1rem 0;

}

.select_item {
    padding: 1rem 0;
    transition: .4s ease;

}

.select_item_icon {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    transition: .4s ease;

}

.select_label:hover,
.select_label:hover .add_checkbox_icon {
    opacity: 1;
    background: #e1e1e1;
    cursor: pointer;
    transition: .4s ease;

}
/*.hiden_checkbox{*/
/*    opacity: 0;*/
/*    display: none;*/
/*}*/