.dash {
    display: flex;
    flex-direction: column;
    background: #f1f1f1;
    box-shadow:  1px 1px 1px rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 15rem;
    position: fixed;
    font-family: 'Quicksand', sans-serif;
}

.dash h3 {
    text-align: center;
    margin-top: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;

}


.imgProfile {
    width: 164px;
    height: 164px;
    border-radius: 100%;
    margin: 1rem auto 0 auto;
    background: #fdfdfd;
}

.links {
    margin: 1rem auto 0 4.8rem;
}

.links a.active {
    background: white;
    box-shadow: 0 0 0 3px #fea;
    border-color: #fb1;
    border-radius: 5px;

}

.link {
    transition: .3s;
    margin-top: 1rem;
    border-radius: 5px;
    list-style: none;
    cursor: pointer;
}

.link_button {
    transition: .3s;
    margin-top: 1rem;
    border-radius: 5px;
    list-style: none;
    color: coral;

}

.link a, .bnt_out {
    color: coral;
    padding: .3rem;
}


.link a:hover, .link a:focus, .bnt_out:hover {
    color: coral;
    border-radius: 5px;
    border: solid coral 1px;
    padding: .3rem .3rem;
    transition: .4s ease;

}
