.footer {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(135deg, #f8f9fa, #e9ecef, #dee2e6, #ced4da, #adb5bd, #6c757d, #495057);
  text-align: center;
  /*width: calc(100vw + 12px);*/
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  }