.footer {
    box-shadow:  1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #f1f1f1, #efeded, #939393);
    text-align: center;
    width: calc(100vw - 12px);
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}