.footer {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    -135deg,
    #f8f9fa,
    #e9ecef,
    #dee2e6,
    #ced4da,
    #adb5bd
  );

  min-width: calc(100vw - 16px);
  height: 13rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer_container {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  /*background: blue;*/
  width: 80%;
  margin: auto;
}

.footer_container_2 {
  display: flex;
  /*background: red;*/
  min-width: 100%;
  min-height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.footer_container_socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.footer_social_item {
  margin: 1rem;
}

.footer_social_item:hover {
  transform: scale(1.25);
  transition: 0.3s;
}

.footer_socials {
  display: flex;
  /*background: #ffbb11;*/
}

.footer_links {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;

}

.footer_img {
  width: 64px;

}

.footer_div_links_img {
  width: 96px;

}

.footer_div_links {
  display: flex;
  align-items: center;

}

.footer_div_links_list {
  display: flex;
  flex-direction: column;

}

.footer_div_link {
  padding: 0.3rem 0.5rem;
}

.footer_div_link:hover {
  color: #333333;
  border-radius: 5px;
  box-shadow: 0 3px 5px -3px #333333;
  padding: 0.3rem 0.5rem;
  transition: .2s ease;
}
