.header {
  height: 5rem;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 128px auto;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(-135deg, #f8f9fa, #e9ecef, #dee2e6, #ced4da, #adb5bd);
  grid-gap: 3rem;
  font-family: 'Quicksand', sans-serif;
}

.logo_img img {
  grid-column: 1/1;
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  margin-left: 5rem;


}

.logo_img img:hover {
  color: #333333;
  border-radius: 5px;
  box-shadow: 0 3px 5px -3px #333333;
  transition: .2s ease;
  background: rgba(0, 0, 0, 0.1);
}

.navlink {
  grid-column: 2/3;
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  transition: .2s ease;
  list-style: none;

}

.navlink a {
  margin-right: 3rem;
  padding: .7rem 1.5rem;
  list-style: none;
  border-radius: 5px;
  color: #333333;
}

.link a:hover, .link a:focus {
  color: #333333;
  border-radius: 5px;
  box-shadow: 0 3px 5px -3px #333333;
  padding: .7rem 1.5rem;
  transition: .2s ease;
}

.navlink a.active {
  box-shadow: 0 3px 5px -3px #333333;
  border-color: #333333;
  border-radius: 5px;
  padding: .7rem 1.5rem;

}