.user_form {
  display: flex;
  margin: 5rem 0 0 15rem;
  min-width: calc(100vw - 15rem);
  min-height: calc(100vh - 5rem);
  flex-direction: column;
  /*background: #4e8025;*/
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  border-radius: 8px;
  width: 50%;
  height: 500px;
  padding: 2rem;
  background: #f1ecec;
  margin: auto;
  box-shadow: 3px 3px 15px -5px;
}

.tittle {
  grid-column: 1/5;
  grid-row: 1/1;
  text-align: center;
}

.img_icon {
  width: 48px;
  height: 48px;
  text-align: center;
  border-radius: 8px;
  background: #e1e1e1;
}

.icon {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  border-radius: 8px;
  /*background: #e1e1e1;*/
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  overflow: hidden;
}

.icon:hover {
  box-shadow: 3px 3px 15px -5px;
  transition: 0.3s ease;
}

.icon_name {
  text-align: center;
}
