.user_form {
  display: flex;
  min-height: calc(100vh - 5rem);
  flex-direction: column;
  margin-left:15rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 64px 1fr 1fr;
  grid-gap: 1rem;
  border-radius: 8px;
  width: 50%;
  height: 300px;
  padding: 2rem;
  background: #f8f8f8;
  margin: auto;
  box-shadow: 3px 3px 15px -5px;

}

.tittle {
  grid-column: 1/5;
  grid-row: 1/1;
  text-align: center;
}

.img_icon {
  width: 64px;
  height: 64px;
  text-align: center;
  border-radius: 8px;
  background: #f9f9f9;
}

.icon {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  border-radius: 8px;
  background: #f7f7f7;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  cursor: pointer;
  overflow: hidden;
}

.icon:hover {
  box-shadow: 3px 3px 15px -5px;
  transition: 0.3s ease;
}

.icon_name {
  text-align: center;
}
